<html>
<head>
    <title> Stargazer </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet" href="/css/theme-chalk.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="/js/vue.js"></script>
    <script src="/js/element-ui.js"></script>
    <script src="/js/superagent.js"></script>

</head>
<body>

<el-container id="app">
  <el-header>
    <el-menu :default-active="activeView" class="el-menu-demo" mode="horizontal" @select="handleViewSelect">
      <el-menu-item index="welcome"><i class="el-icon-star-off"></i> Stargazer</el-menu-item>
      <el-menu-item index="projects" v-show="profile">Projects</el-menu-item>
      <el-menu-item index="profile" v-show="profile">Profile</el-menu-item>
      <el-menu-item index="logout" v-show="profile" style="float: right" @click="onLogout">Logout</el-menu-item>
    </el-menu>
  </el-header>
  <el-main>
    <div v-if="activeView === 'login'">
      <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="6">
          <el-form ref="form" :model="login" label-position="top" @submit.native.prevent>
            <el-form-item label="Username"><el-input v-model="login.username" ref="loginInput" required></el-input></el-form-item>
            <el-form-item label="Password"><el-input v-model="login.password" type="password" required></el-input></el-form-item>
            <el-form-item><el-button type="primary" native-type="submit" @click="onLogin" style="width: 120px;" :disabled="loginSubmitBusy"><i class="el-icon-loading" v-show="loginSubmitBusy"></i><span v-show="!loginSubmitBusy">Login</span></el-button></el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </div>
    <div v-else-if="activeView === 'projects'">
      <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="12">
          <center v-show="projects === null"><h1><i class="el-icon-loading"></i></h1></center>
          <center v-show="projects && projects.length === 0">No projects found.</center>
          <el-table :data="projects" v-show="projects && projects.length" stripe style="width: 100%" :default-sort="{ prop: 'name', order: 'ascending' }">
            <el-table-column prop="name" label="Project Name" sortable></el-table-column>
            <el-table-column label="" align="right">
              <template slot-scope="scope">
                <small v-show="!scope.row.enabled">Notifications are disabled</small>
                <el-button type="text" size="small" @click="setProjectState(scope.row.id, !scope.row.enabled, scope)" style="width: 80px;"><i class="el-icon-loading" v-show="scope.row.busy"></i><span v-show="!scope.row.busy">{{ scope.row.enabled ? 'Disable' : 'Enable' }}</span></el-button>
              </template></el-table-column>
          </el-table>
        </el-col>
      </el-row>
    </div>
    <div v-else-if="activeView === 'profile'">
      <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="10">
          <el-form ref="form" label-width="120px" @submit.native.prevent>
            <el-form-item label="Email" required><el-input v-model="profile.email" type="email"></el-input></el-form-item>
            <el-form-item label="GitHub token">
              <el-input v-model="profile.githubToken" ref="githubTokenInput"></el-input>
              <a href="https://github.com/settings/tokens/new?description=Stargazer" target="_blank">Generate a GitHub API token</a>
            </el-form-item>
            <el-form-item><el-button type="primary" native-type="submit" @click="onProfileSubmit" style="width: 120px;" :disabled="profileSubmitBusy"><i class="el-icon-loading" v-show="profileSubmitBusy"></i><span v-show="!profileSubmitBusy">Save<span></span></el-button></el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </div>
    <div v-else-if="activeView === 'welcome'">
      <center>
        <h1><i class="el-icon-star-off"></i> Welcome to Stargazer</h1>
        <p>Set a GitHub token in your <a href="" @click.prevent="handleViewSelect('profile')">profile</a> to start receiving new release notifcations for your starred repos.</p>
      </center>
    </div>
    <div v-else>
      <center><h1><i class="el-icon-loading"></i></h1></center>
    </div>
  </el-main>
  <el-footer style="height: 24px">Built by the <a href="https://cloudron.io" target="_blank">Cloudron.io</a> team</el-footer>
</el-container>

<script src="/js/index.js"></script>

</body>
</html>
