[v-cloak] {
  display: none;
}

html, body {
  --text-color: #495057;
  --text-color-secondary: #6c757d;
  --primary-color: #2196F3;
  --primary-color-text: #ffffff;
  --hover-background-color: #e9ecef;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  overflow: hidden;
  background-color: #f8f9fa;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color-secondary);
}

#app {
  height: 100%;
  overflow: hidden;
}

.p-button-label {
  white-space: nowrap;
}

.hand {
  cursor: pointer;
}
