
body {
    margin: 0;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    color: rgb(96, 98, 102);
}

body > .el-container {
    height: 100%;
}

.el-footer {
    padding: 3px 20px;
    font-size: 14px;
    text-align: center;
}

a {
    color: #66b1ff;
    text-decoration: none;
}

a:hover, a:focus {
    color: #409EFF;
    text-decoration: none;
}

.el-table a {
    color: rgb(96, 98, 102);
}

.el-table a:hover {
    color: #66b1ff;
}
